<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="{% static 'Reg/css/opensans-font.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Reg/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'Reg/css/style.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<style>
    .submit-btn {
        background: #1fca22;
        color: #fff;
        display: inline-block;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .submit-btn:hover {
        background: #19b249;
    }

    .submit-btn i {
        margin-right: 5px;
    }

    .actions a[role="menuitem"] {
        color: #fff;
        text-decoration: none;
    }
</style>

<body>
    <div class="page-content">
        <div class="form-v1-content">
            <div class="wizard-form">
                <form class="form-register" action="{% url 'verify_otp' %}" method="POST">
                    {% csrf_token %}
                    <div id="form-total">
                        <!-- SECTION 1 -->
                        <h2>
                            <!-- <p class="step-icon"><span>01</span></p>
                            <span class="step-text">Personal Infomation</span> -->
                        </h2>
                        
                        <section>
                            <div class="inner">
                                <div class="wizard-header">
                                    <h3 class="heading">Verify Otp</h3>
                                    <p>Please check Your email and enter the Otp</p>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder">
                                        <fieldset>
                                            <legend>Enter Your Email</legend>
                                            <input type="text" class="form-control" id="otp" name="otp" placeholder="Verify" required>
                                            <input type="hidden" name="email" value="{{ email }}">
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <!-- This will submit the form -->
                                        <button type="submit" class="zmdi zmdi-check submit-btn" id="submit">Register</button>
                                    </div>
                                </div>

                                        
                                <!-- <div class="form-row form-row-date">
                                    <div class="form-holder form-holder-2">
                                        <label class="special-label">Birth Date:</label>
                                        <select name="month" id="month">
                                            <option value="MM" disabled selected>MM</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                        </select>
                                        <select name="date" id="date">
                                            <option value="DD" disabled selected>DD</option>
                                            <option value="Feb">Feb</option>
                                            <option value="Mar">Mar</option>
                                            <option value="Apr">Apr</option>
                                            <option value="May">May</option>
                                        </select>
                                        <select name="year" id="year">
                                            <option value="YYYY" disabled selected>YYYY</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                        </select>
                                    </div>
                                </div> -->
                                <!-- <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <input type="text" class="form-control input-border" id="ssn" name="ssn" placeholder="SSN" required>
                                    </div>
                                </div> -->
                            </div>
                        </section>
                </form>
                        <!-- SECTION 2 -->
                         <h2>
                            <div class="form-row">
                                <div class="form-holder">
                                    <img src="{% static 'Reg/images/file.png' %}" alt="Company Logo" style="width:100%; max-width:500px;max-height: 400px; margin-bottom:40px;">
                                </div>
                            </div>
                        </h2>
                        
                        <section>
                            <!-- <div class="inner">
                                <div class="wizard-header">
                                    <h3 class="heading">Personal Infomation</h3>
                                    <p>Please enter your infomation and proceed to the next step so we can build your accounts.  </p> -->
/
                                <!-- <div class="form-row form-row-date">
                                    <div class="form-holder form-holder-2">
                                        <label class="special-label">Birth Date:</label>
                                        <select name="month" id="month">
                                            <option value="MM" disabled selected>MM</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                        </select>
                                        <select name="date" id="date">
                                            <option value="DD" disabled selected>DD</option>
                                            <option value="Feb">Feb</option>
                                            <option value="Mar">Mar</option>
                                            <option value="Apr">Apr</option>
                                            <option value="May">May</option>
                                        </select>
                                        <select name="year" id="year">
                                            <option value="YYYY" disabled selected>YYYY</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                        </select>
                                    </div>
                                </div> -->
                                <!-- <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <input type="text" class="form-control input-border" id="ssn" name="ssn" placeholder="SSN" required>
                                    </div>
                                </div> -->
                            </div>
                        </section>
                        <!-- SECTION 3 -->
                        <!-- <h2>
                            <p class="step-icon"><span>03</span></p>
                            <span class="step-text">Set Financial Goals</span>
                        </h2>
                        <section>
                            <div class="inner">
                                <div class="wizard-header">
                                    <h3 class="heading">Set Financial Goals</h3>
                                    <p>Please enter your infomation and proceed to the next step so we can build your accounts.</p>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <input type="radio" class="radio" name="radio1" id="plan-1" value="plan-1">
                                        <label class="plan-icon plan-1-label" for="plan-1">
                                            <img src="images/form-v1-icon-2.png" alt="pay-1">
                                        </label>
                                        <div class="plan-total">
                                            <span class="plan-title">Specific Plan</span>
                                            <p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
                                        </div>
                                        <input type="radio" class="radio" name="radio1" id="plan-2" value="plan-2">
                                        <label class="plan-icon plan-2-label" for="plan-2">
                                                <img src="images/form-v1-icon-2.png" alt="pay-1">
                                        </label>
                                        <div class="plan-total">
                                            <span class="plan-title">Medium Plan</span>
                                            <p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
                                        </div>
                                        <input type="radio" class="radio" name="radio1" id="plan-3" value="plan-3" checked>
                                        <label class="plan-icon plan-3-label" for="plan-3">
                                            <img src="images/form-v1-icon-3.png" alt="pay-2">
                                        </label>
                                        <div class="plan-total">
                                            <span class="plan-title">Special Plan</span>
                                            <p class="plan-text">Pellentesque nec nam aliquam sem et volutpat consequat mauris nunc congue nisi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section> -->
                    </div>
        
            </div>
        </div>
    </div>
    <!-- <p>
        {% if user %}
        New user created with username {{ user.username}}
        {% endif %}
    </p> -->

    <script src="{% static 'Reg/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Reg/js/jquery.steps.js' %}"></script>
    <script src="{% static 'Reg/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
<!-- <script>
    $(document).ready(function() {
    let pwd, cpwd;
    $("#first-name").keyup(function() {
        var uname = document.getElementById("first-name").value
        var c_uname = /^[A-z _]{3,20}$/
        r_uname = c_uname.test(uname)
        if (r_uname == false) {
        $("#submit").attr('disabled', true);
        $(".reg-uname-err").text("Name Should be 3 letters long and should be alphabet");
        } else {
        $(".reg-uname-err").text("");
        valid();
        }
    
    })
    $("#phone").keyup(function() {
        var uname = document.getElementById("phone").value
        var c_uname = /^[789]\d{9}$/
        r_phone = c_uname.test(uname)
        if (r_phone == false) {
        $("#submit").attr('disabled', true);
        $(".reg-phone-err").text("Enter a Number valid in India");
        } else {
        $(".reg-phone-err").text("");
        valid()
        }
    })
    $("#your_password").keyup(function() {
        pwd = document.getElementById("your_password").value
        var c_pwd = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$/;
        r_pwd = c_pwd.test(pwd);
        if (!r_pwd) {
        $("#submit").attr('disabled', true);
        $(".pwd_error").text("Use Alphanumeric with special characters");
        } else {
        $(".pwd_error").text("");
        valid();

        }
    })
    $("#your_cpassword").keyup(function() {
        cpwd = document.getElementById("your_cpassword").value
        var c_pwd = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$/;
        cr_pwd = c_pwd.test(cpwd);

        if (pwd != cpwd) {
        $("#submit").attr('disabled', true);
        $(".cp_error").text("Password does not match");
        } else {
        $(".cp_error").text("");
        valid()
        }
    })
    function valid() {
        if (r_uname == true && r_pwd == true && r_phone == true ) {
        $("#submit").attr('disabled', false);
        }
    }
    });
</script> -->
</html>
